.commentContainer{
    width: 760px;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px;
    margin-left: 13px;
    padding-top: 20px; 
}

.commentItem div{
    margin: 5px 0;
    font-size: 10px;
    color: #666;
}

.commentItem{
    margin-bottom: 10px;
}