.homePageContainer{
    width:1000px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    min-height: 650px;
}

.nebLink{
    height: 50px;
    width:200px;
    display:inline-block;
    background-image: url(./imgs/nebulasx60.png);
    background-size: 200px 50px;
}

.nebLink img{
    width: 100%
}

.writeSpan{
    display:block;
    height:100px;
    float: right;
}

.writeSpan i{
    font-size:40px;
    margin-top:20px
}

.writeSpan h2{
    margin-left:50px;
    line-height:55px;
    font-size: 34px;
    color: '#decba4';
    font-family: sans-serif;
    font-weight: bold
}

.brief{
    font-size: 30px;
    font-weight: bold;
}

.briefText{
    font-size: 20px;
}

.footerBackGround{
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
    background: #2f54eb;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#2f54eb),to(#3a40d4));
    background: -webkit-linear-gradient(top,#2f54eb,#3a40d4);
    background: linear-gradient(180deg,#2f54eb 0,#3a40d4);
}