body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  user-select: none;
}

.container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

*{
  -webkit-transition: -webkit-transform .3s cubic-bezier(.78,.14,.15,.86);
  transition: -webkit-transform .3s cubic-bezier(.78,.14,.15,.86);
  transition: transform .3s cubic-bezier(.78,.14,.15,.86);
  transition: transform .3s cubic-bezier(.78,.14,.15,.86),-webkit-transform .3s cubic-bezier(.78,.14,.15,.86);
}

::-webkit-scrollbar  
{  
    width: 8px;  
    height: 4px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);   */
    border-radius: 10px;  
    background-color: transparent;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 2px;  
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);   */
    background-color: rgba(0,0,0,.3);  
}  
